
/* 変数定義 */
:root {
    --info-color: #2e7d32;
    --silent-color: #666666;
    --error-color: #d32f2f;
    --dark-color: #e7e7e7;
    --input-text-height: 28px;
    --button-bg: #007acc;
    --button-hover-bg: #005999;
    --font-weight-default: 500;   /* Noto Sans JP 細い対策、メイリオは500が無いため太くならずに済む */
    --body-bg: #f9f9f9;
    --body-bg: #f3f3f3;
    --line-color: #ddd;
    --border-default: 1px solid var(--line-color);
    --shadow-default: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
/* :root {
    --info-color: #39a33e;
    --silent-color: #7c7c7c;
    --error-color: #d32f2f;
    --dark-color: #244475;
} */

body {
    /* font-family: sans-serif; */
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 20px;
    background: var(--body-bg);
    color: #333;
    font-size: 85%;
}

/* フォント設定を引き継がない要素にも反映させる */
input, select, textarea, button {
    font-family: inherit;
}

h2, h3 {
    margin-top: 0px;
}

/*===========================================================================*/
/* box (関連する設定をまとめたウィンドウ) */
/*===========================================================================*/

/* 各設定の区切り線 */
hr {
    border: none;
    border-top: var(--border-default);
    /* margin: 16px auto; */
    margin: 0px;
}

/* 設定の種類名 */
.box-title {
    /* background: var(--button-hover-bg); */
    /* color: white; */
    padding: 8px 0px;
    font-weight: var(--font-weight-default);
    /* font-weight: 500; */
    font-size: 120%;
    /* border-radius: 5px 5px 0 0; */
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); */
}

/* 設定を種類ごとにまとめるウィンドウ */
.box-body {
    margin-bottom: 16px;
    background-color: white;
    padding: 0;
    border: var(--border-default);
    border-radius: 7px;
    box-shadow: var(--shadow-default);
}

/* hrを左右隙間なく使うためのマージン */
.box-inner {
    margin: 15px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

/*===========================================================================*/

/* ログ上側 */
.bg-dark {
    background-color: var(--dark-color);
    /* color: white; */
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 3px 3px 0 0;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: var(--font-weight-default);
    /* font-size: 90%; */
    /* font-size: 95%; */
}

label.checkbox {
    /* font-size: 95%; */
    margin-bottom: 8px;
    font-weight: 500;
    /* font-weight: bold; */
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
}

input[type="text"] {
    height: 28px;
}

/* ボタン部分を改行させない */
input[type="checkbox"],
input[type="radio"] {
    width: auto;
    padding: 0px;
}

/*===========================================================================*/
/* ボタン */
/*===========================================================================*/

button {
    padding: 10px 20px;
    background: var(--button-bg);
    font-weight: var(--font-weight-default);
    color: white;
    border: none;
    cursor: pointer;
    width: 120px;
    margin: 5px;
}


/* 開始・終了ボタン */
button.main {
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

button:hover {
    background: var(--button-hover-bg);
}

/* 無効化中はグレーアウト */
button:disabled {
    background-color: #d3d3d3;
    color: #888888;
    cursor: not-allowed;    /* カーソルを禁止マークに */
    /* opacity: 0.7; */
    box-shadow: none;
}



/*===========================================================================*/

#log {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}

.extensions {
    border: none;
    padding: 0px;
}

/* 水平方向の中央揃え */
.center {
    display: flex;
    justify-content: center;
}

/* 画面全体のグレーアウトレイヤー */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   /* Viewport Width = 画面全体*/
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;  /* 一番手前に表示 */
    color: white;
    font-family: sans-serif;
}

/* 読込中スピナーの見た目 */
.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 20px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


/* ログ下側 */
.log-box {
    height: 150px;
    overflow-y: auto;
    background: #ffffff;
    padding: 8px;
    font-size: 14px;
    /* border: 1px solid var(--dark-color); */
    /* border-radius: 0 0 3px 3px; */
}

/* ログ 横一列 (種類ごとに色分け) */
.log-item {
    margin: 2px 0px;
    line-height: 1.4;
}
.log-item.log-info   { color: var(--info-color); }      /* 成功：緑*/
.log-item.log-silent { color: var(--silent-color); }    /* 軽度の情報：灰 */
.log-item.log-error  { color: var(--error-color); }     /* エラー：赤*/


/* ログ時刻 */
.log-time {
    margin: 4px 0px;
    /* color: #888; */
    font-family: monospace;  /* 等幅で時間をそろえる*/
    margin-right: 4px;
}

/* ログタイトル   背景:濃色, 文字:白色 */
.log-title {
    font-weight: bold;
    padding: 0px 6px;
    margin-right: 6px;
    /*     
    color: white;
    border-radius: 3px;
    opacity: 0.6;
     */
    /* 背景色を薄くする */
}
/* 
.log-title.log-info   { background-color: var(--info-color); }
.log-title.log-silent { background-color: var(--silent-color); }
.log-title.log-error  { background-color: var(--error-color); }
 */

/* ログ本文 */
.log-body {
    word-break: break-all;  /* 枠内で折り返す*/
}

/*===========================================================================*/
/* フォルダ入力欄 + 参照ボタン */
/*===========================================================================*/


/* Flexboxで横並びにする */
/* centerで上下中央 */
/* gapで要素間の余白 */
.folder-select-div {
    display: flex;
    align-items: center;
    gap: 0px;
    width: 100%;
}

/* 伸縮して余白を埋める */
.folder-path {
    flex: 1;
    /* border: 1px solid var(--button-bg); */
    border: none;
    /* background: var(--body-bg); */


    /* border-radius: 4px 0 0 4px; */
    box-sizing: border-box;
    height: var(--input-text-height);
    padding-left: 20px;
    color: #666;
    /* background: #f9f9f9; */
}

/* 改行を防ぐ */
.folder-btn {
    /* border-radius: 0 4px 4px 0; */
    border-radius: 4px;
    box-sizing: border-box;
    height: var(--input-text-height);
    width: auto;
    margin: 0;

    /* ボタン内の文字の中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}
