
/* 変数定義 */
:root {
    /* ログ文字色 */
    --info-color: #2e7d32;
    --remark-color: #888;
    --error-color: #d32f2f;

    /* ボタン色 */
    --button-bg: #007acc;
    --button-hover-bg: #005999;

    --header-bg: #7891cc;
    --hr-border: 1px solid #ddd;

    /* 改行時のマージン */
    --newline-margin-large: 22px 0px 0px 0px;
    --newline-margin-small: 3px 0px 0px 0px;
}

/* 
    hidden を最優先する
    hidden (= display: none) はCSSファイルより先に定義されているため、
    後から定義した flex などが優先されてしまう。
 */
[hidden] {
    display: none !important;
}

body {
    font-family: "Meiryo", "Noto Sans JP", sans-serif;
    background: white;
    color: black;
    font-size: 85%;
    margin: 0;

    /* 縦並べ (ログ高さ可変のため) */
    display: flex;
    flex-direction: column;

    /* スライダー表示時、下部余白が消えるのを防ぐ */
    box-sizing: border-box;
    min-height: 100vh;

    /*  [補足]
        height: 100%;       → 親要素と同じ高さに固定
        min-height: 100vh;  → 内要素に応じて伸びる

        %  → 親高さ比   (親が子高さを使っている場合は伸ばせない)
        vh → 画面高さ比 (flex-grow で画面高さまで伸ばせる)
    */
}

/* フォント設定を引き継がない要素にも反映させる */
input, select, textarea, button {
    font-family: inherit;
}

h2, h3 {
    margin-top: 0px;
}

input {
    box-sizing: border-box;
    height: 28px;
    padding: 0px 8px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
}

/* 不可視 (空白になる) */
.invisible {
    visibility: hidden;
}

/*===========================================================================*/
/* varsion.html 用 */
/*===========================================================================*/

div.version-page {
    margin: 20px auto;
}

/*===========================================================================*/
/* ボタン */
/*===========================================================================*/

button {
    padding: 10px 20px;
    background: var(--button-bg);
    font-weight: normal;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: var(--button-hover-bg);
}

/* 無効化中はグレーアウト */
button:disabled {
    background-color: #d3d3d3;
    color: #888888;
    cursor: not-allowed;    /* カーソルを禁止マークに */
}

/*===========================================================================*/
/* 見出し・内容 */
/*===========================================================================*/

/* 大見出し */
div.header {
    background-color: var(--header-bg);
    box-sizing: border-box;
    font-size: 140%;
    font-weight: bold;
    color: white;

    /* 右側を丸める */
    border-radius: 0 9999px 9999px 0;
    width: 96%;
    padding: 8px 20px;
    margin: 0;
}

/* 内容 */
div.main {

    /* div自体 */
    & {
        margin: 0;
        padding: 0px 35px;
    }

    /* 小見出し */
    > h2 {
        margin: var(--newline-margin-large);
        padding: 0;
        font-weight: bold;
        font-size: 125%;
        color: #1f1f1f;
    }

    /* 設定1つを包む (横一列) */
    /* toggle, folder クラスは別途定義 */
    > label {
        display: flex;
        align-items: center;
        font-weight: normal;
        margin: var(--newline-margin-large);
    }

    /* 見出しごとの区切り線 */
    > hr {
        border: none;
        border-top: var(--hr-border);
        margin: var(--newline-margin-large);
    }

    /* 拡張子の入力欄 */
    > input.extensions {
        margin: var(--newline-margin-small);
        padding: 8px;
        border-radius: 10px;
        box-sizing: border-box;
        height: auto;
        width: calc(100% - 60px);
    }

    /* 通知間隔 */
    > div.notify-interval-div {

        /* div自体 */
        & {       
            display: flex;
            align-items: center;
            box-sizing: border-box;
            margin: var(--newline-margin-small);
            padding-left: 25px;
            width: 100%;
        }
        
        /* 間隔 入力欄 */
        > input {
            width: 70px;
            margin-left: 20px;
            margin-right: 5px;
        }
    }

    /* 開始/終了ボタン */
    > div.button-area {

        /* div自身 */
        & {
            display: flex;
            justify-content: center;
            margin: var(--newline-margin-large);
            margin-bottom: 10px;
        }

        > button {
            width: 120px;
            border-radius: 4px;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
        }

        > button:disabled {
            box-shadow: none;
        }
    }
}

/*===========================================================================*/
/* トグルによる「表示/非表示」の切替え */
/*===========================================================================*/

/* 拡張子入力欄 */
label.toggle:has(#by-extensions:not(:checked)) + 
input.extensions {
    display: none;
}

/* 通知間隔 (横一列) */
label.toggle:has(#is-notify-unsaved:not(:checked)) + 
div.notify-interval-div {
    display: none;
}

/*===========================================================================*/
/* トグル*/
/*===========================================================================*/

/* 使用例
    <label class="toggle">
        ファイルの未保存を通知
        <input type="checkbox" id="is-notify-unsaved">
    </label>
*/
div.main > label.toggle > input[type="checkbox"] {

    /* & → input自体 */
    & {
        box-sizing: border-box;
        position: relative;
        font-size: 17px;
        width: 2em;
        height: 1em;
        padding: 0;
        margin: 0px 3px;

        /* 右詰め */
        margin-left: auto; 

        /* ラジオボタンを非表示にする */
        appearance: none;
        border: none;
    }

    /* バー部分:灰色 (false時) */
    &::before {
        content: "";
        position: absolute;
        background: darkgray;
        border-radius: 0.5em;
        margin: 0;
        left: 0em;
        right: 0em;
        height: 1em;
    }

    /* バー部分:青色 (true時) */
    &:checked::before {
        background: var(--button-bg);
    }

    /* バー部分:ホバー時のエフェクト */
    &:hover::before  {
        /* 横方向, 縦方向, ぼかし, 影の大きさ, 色 */
        box-shadow: 0 0 0px 5px rgba(0,0,0,0.08);
    }

    /* 円部分:左寄せ (false時) */
    &::after {
        box-sizing: border-box;
        content: "";
        position: absolute;
        border-radius: 0.5em;
        transform: translate(0%, 0%);
        transition: all 0.1s ease-in-out;
        margin: 0;
        background: #e8e8e8;

        /* 円をバー高さよりも小さくする */
        --reduction: 2px;
        left: var(--reduction);
        top: var(--reduction);
        bottom: var(--reduction);
        width: calc(1em - calc(var(--reduction) * 2));
    }

    /* 円部分:右寄せ (true時) */
    &:checked::after {
        transform: translate(125%, 0%);
        background: white;

        /* 横方向, 縦方向, ぼかし, 影の大きさ, 色 */
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
    }
}

/*===========================================================================*/
/* フォルダ選択ラベル */
/*===========================================================================*/

/* 使用例
    <label class="folder" for="source-path">
        バックアップ元
        <input type="text" class="folder-path" readonly">
        <button class="folder-btn">選択</button>
    </label>
*/
div.main > label.folder {

    /* フォルダパスのテキスト */
    > input[type="text"].folder-path {
        flex: 1;
        border: none;
        box-sizing: border-box;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 10px;
        color: #7c93f7;
    }

    /* フォルダ選択ボタン */
    > button.folder-btn {
        border-radius: 4px;
        box-sizing: border-box;
        margin: 0;
        padding: 4px 8px;
        
        width: auto;

        /* ボタン内の文字の中央揃え */
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}

/*===========================================================================*/
/* ヘルプ表示 */
/*===========================================================================*/

/* 
    使用例
    <div class="help-wrap">
        <div class="help-mark">?</div>
        <span class="help-text">説明文</span>
    </div>
*/
div.help-wrap {

    /* div自体 */
    & {
        position: relative;
        display: inline-block;
        margin: 0 5px;
    }

    /* ホバー時に説明文を可視化 */
    &:hover span.help-text {
        display: block;
    }

    /* ?マーク部分 */
    div.help-mark {
        margin: 0;
        padding: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        color: darkgray;
        border: 1px solid darkgray;
        background-color: white ;
        font-weight: bold;
        font-size: 10px;
        cursor: pointer;

        /* 変更 : 円の内側を塗りつぶす */
        border: none;
        background-color: #ccc;
        color: white;
    }

    /* 説明文 (最前面/普段は非表示) */
    span.help-text {
        z-index: 9999;
        display: none;
        position: absolute;
        top: 0;
        left: 30px;
        width: 235px;
        padding: 8px;
        background: #444;
        border-radius: 4px;
        font-size: 90%;
        color: #fff;
    }
}

/*===========================================================================*/
/* 読込中画面 */
/*===========================================================================*/

/* 画面全体のグレーアウトレイヤー */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   /* Viewport Width = 画面全体 */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;  /* 一番手前に表示 */
    color: white;
    font-family: sans-serif;
}

/* 読込中スピナーの見た目 */
.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 20px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/*===========================================================================*/
/* ログ */
/*===========================================================================*/

/*
    ログウィンドウ
        以下を解決するために、divをネストします
        ・スクロール時にパディング部分にも文字表示がされる
        ・border-radiusの丸みの外までスクロールバーが突き出る
        ・mask-imageがスクロールバーまで消してしまう
*/
div.log-outer {

    /* アウター自身 */
    & {
        /* デザイン変更前
        margin: var(--side-margin);
        margin-bottom: 12px;
        background-color: white;
        border: var(--border-default);
        border-radius: 7px;
        box-shadow: var(--shadow-default);
        padding: 6px 0px 6px 8px;
        */

        /* 右側(スクロールバー部分)はパディングを減らす */
        padding: 16px 5px 16px 28px;
        margin: 0;
        background: white;
        font-size: 14px;

        /* 高さを、ウィンドウに合わせて画面端まで伸ばす */
        flex-grow: 1;

        /*
            要素内が伸びたら、内側にスクロールバーを表示
                flexの子要素は height:auto; が標準 → 内要素に合わせて高さが増えてしまう
                0にすることで、伸びずにスクロールバーを表示 (overflow-y の効果)
        */
        height: 0;
        min-height: 100px;

        /* Linux対策: Flex化し、要素が伸びた時に子要素も確実に伸びるようにする */
        display: flex;
        flex-direction: column;
    }

    /* インナー */
    > div.log-inner {
        /* Linux対策: 親をはみ出さないように最小サイズを0にする */
        min-height: 0;

        /* height: 100%; */
        overflow-y: auto;
        box-sizing: border-box;

        /* スクロールバーの「左側」に余白を作る */
        /* スクロールバーが表示されていなくても余白ができる */
        padding-right: 8px;
    }
}


/* 
    ログ 1行分 (JSで生成する部分)
    使用例
    <div class="log-item info">
        <span class="log-time">00:00:00</span>
        <span class="log-title">バックアップ</span>
        <span class="log-body">ファイルパス名</span>
    </div>
*/
div.log-outer > div.log-inner > div.log-item {

    /* div自身 */
    & {
        margin: 3px 0px;
        line-height: 1.4;

        /* spanタグ後の改行がスペースになるのを回避 */
        display: flex;
    }

    /* div自身へのクラス追加 色指定 */
    &.error  { color: var(--error-color); }  /* 赤: エラー*/
    &.info   { color: var(--info-color); }   /* 緑: 成功*/
    &.remark { color: var(--remark-color); } /* 灰: 軽度の情報 */

    /* ログ時刻 (等幅で時間をそろえる) */
    span.log-time {
        font-family: monospace;
    }

    /* ログタイトル */
    span.log-title {
        font-weight: bold;
        margin: 0px 10px;
    }

    /* ログ本文 (枠内で折り返す) */
    span.log-body {
        word-break: break-all;
    }
}
