
/* 変数定義 */
:root {
    --info-color: #2e7d32;
    --remark-color: #888;
    --error-color: #d32f2f;
    --folder-select-height: 28px;
    --button-bg: #007acc;
    --button-hover-bg: #005999;
    --font-weight-default: 500;   /* Noto Sans JP 細さ対策、メイリオは500が無く、太くならずに済む */
    --body-bg: #efefef;
    --hedder-bg: rgb(183, 183, 189);
    --border-default: 1px solid #ddd;
    --shadow-default: 0px 1px 5px rgba(0, 0, 0, 0.1);
    --side-margin: 0px 20px;
    --main-btn-width: 120px;

    /* 背景色を薄青色に調整 */
    --body-bg: #edeef0;
    --hedder-bg: #b8b8c0;
    --shadow-default: 0px 1px 5px rgba(39, 39, 77, 0.1);
}

/* 
    hidden を最優先する
    hidden (= display: none) はCSSファイルより先に定義されているため、
    後から定義した flex などが優先されてしまう。
 */
[hidden] {
    display: none !important;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    background: var(--body-bg);
    color: #333;
    font-size: 85%;

    /* ログ高さ可変用に縦並べ */
    display: flex;
    flex-direction: column;

    /* スライダー表示時、下部余白が消えるのを防ぐ */
    box-sizing: border-box;
    min-height: 100vh;

    /*  [補足]
        height: 100%;       → 親要素と同じ高さに固定
        min-height: 100vh;  → 内要素に応じて伸びる

        %  → 親高さ比   (親が子高さを使っている場合は伸ばせない)
        vh → 画面高さ比 (flex-grow で画面高さまで伸ばせる)
    */
}

/* フォント設定を引き継がない要素にも反映させる */
input, select, textarea, button {
    font-family: inherit;
}

h2, h3 {
    margin-top: 0px;
}


/* 不可視 (空白になる) */
.invisible {
    visibility: hidden;
}

/* メインウィンドウ以外に使用する、bodyのパディング */
.sub-window-body {
    padding: 25px;
}

/*===========================================================================*/
/* box (関連設定をまとめるウィンドウ) */
/*===========================================================================*/

/* 各設定の区切り線 */
hr {
    border: none;
    border-top: var(--border-default);
    margin: 0px;
}

/* hrを左右隙間なく使うためのマージン */
.box-inner {
    margin: 11px 13px;   /* ウィンドウ内側の余白 */
}

/* 設定の種類名 */
.box-title {
    margin: var(--side-margin);
    padding: 8px 0px;
    font-weight: 500;
    font-size: 115%;
}

/* 設定を種類ごとにまとめるウィンドウ */
.box-body {
    margin: var(--side-margin);
    margin-bottom: 12px;        /* ウィンドウ間の余白 */
    background-color: white;
    padding: 0;
    border: var(--border-default);
    border-radius: 7px;
    box-shadow: var(--shadow-default);
}

/*===========================================================================*/
/* ラベル・入力UI */
/*===========================================================================*/

label {
    display: block;
    font-weight: var(--font-weight-default);
}

select, input {
    height: 28px;
    padding: 0px 8px;
    box-sizing: border-box;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
}

input {
    width: 100%;
}

/* ボタン部分を改行させない */
input[type="checkbox"],
input[type="radio"] {
    height: auto;
    width: auto;
    padding: 0px;
}

/*===========================================================================*/
/* 「バックアップするファイル」項目 */
/*===========================================================================*/

/* 横一列にするdiv用 */
.file-type-div {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 5px;
}

/* 直下セレクタで指定 */
/* プルダウン部分 */
.file-type-div > select {
    width: 200px;
}

/* プルダウン右側の説明欄 */
.file-type-div > div {
    flex: 1;
    color: #888;
}

/*===========================================================================*/
/* 「ファイル未保存の通知」項目 */
/*===========================================================================*/

/* 横一列にするdiv用 */
.notify-interval-div {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 5px;
    padding-left: 25px;
    box-sizing: border-box;
}

/* 時間入力欄 */
.notify-interval-div > input[type="number"] {
    width: 70px;
}

/* 「分間 保存されたファイルがなければ通知」の部分 */
.notify-interval-div > div {
    flex: 1;
}

/*===========================================================================*/
/* ボタン */
/*===========================================================================*/

button {
    padding: 10px 20px;
    background: var(--button-bg);
    font-weight: var(--font-weight-default);
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}


/* 開始・終了ボタン */
button.main {
    width: var(--main-btn-width);
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

button:hover {
    background: var(--button-hover-bg);
}

/* 無効化中はグレーアウト */
button:disabled {
    background-color: #d3d3d3;
    color: #888888;
    cursor: not-allowed;    /* カーソルを禁止マークに */
    box-shadow: none;
}

/* メインボタンの下の補足テキスト */
.save-text {
    margin: 0px 5px;
    width: var(--main-btn-width);
    text-align: center;
    font-size: 90%;
    color: #999;
}

/*===========================================================================*/
/* 読込中画面 */
/*===========================================================================*/

/* 水平方向の中央揃え */
.center {
    display: flex;
    justify-content: center;
}

/* 画面全体のグレーアウトレイヤー */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   /* Viewport Width = 画面全体*/
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;  /* 一番手前に表示 */
    color: white;
    font-family: sans-serif;
}

/* 読込中スピナーの見た目 */
.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 20px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/*===========================================================================*/
/* ログ */
/*===========================================================================*/

/* ログウィンドウ */
.log-outer {
    background: #ffffff;
    font-size: 14px;

    /* スクロールバー部分のみ、パディング無し */
    padding: 6px 0px 6px 8px;

    /*
        高さをウィンドウに合わせて可変化
            flex-grow で画面端まで伸ばせる
    */
    flex-grow: 1;

    /*
        要素内が伸びたら、内側にスクロールバーを表示
            flexの子要素は height:auto; が標準 → 内要素に合わせて高さが増えてしまう
            0にすることで、伸びずにスクロールバーを表示 (overflow-y の効果)
    */
    height: 0;
    min-height: 100px;
}

/* インナー: スクロール時にパディング部分にも表示されてしまうことを避ける */
.log-box {
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;

    /* スクロールバーの「左側」に余白を作る */
    /* スクロールバーが表示されていなくても余白ができる */
    padding-right: 8px;
}

/* ログ 横一列 (種類ごとに色分け) */
.log-item {
    margin: 2px 0px;
    line-height: 1.4;
}
.log-item.error  { color: var(--error-color); }  /* 赤: エラー*/
.log-item.info   { color: var(--info-color); }   /* 緑: 成功*/
.log-item.remark { color: var(--remark-color); } /* 灰: 軽度の情報 */


/* ログ時刻 */
.log-time {
    font-family: monospace;  /* 等幅で時間をそろえる*/
}

/* ログタイトル */
.log-title {
    font-weight: bold;
    margin: 0px 10px;
}

/* ログ本文 (枠内で折り返す) */
.log-body {
    word-break: break-all;
}

/*===========================================================================*/
/* フォルダ入力欄 + 参照ボタン */
/*===========================================================================*/

/* Flexboxで横並びにする */
/* centerで上下中央 */
/* gapで要素間の余白 */
.folder-select-div {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
}

/* 伸縮して余白を埋める */
.folder-path {
    flex: 1;
    border: none;
    box-sizing: border-box;
    height: var(--folder-select-height);
    padding-left: 20px;
    color: #666;
}

/* 改行を防ぐ */
.folder-btn {
    border-radius: 4px;
    box-sizing: border-box;
    height: var(--folder-select-height);
    width: auto;
    margin: 0;

    /* ボタン内の文字の中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*===========================================================================*/
/* アプリ名 / 説明文 */
/*===========================================================================*/

/* ヘッダ全体 */
.hedder-div {
    color: white;
    background-color: var(--hedder-bg);
    box-shadow: var(--shadow-default);
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 7px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* 左側：アプリ名 */
.hedder-app-name {
    font-size: 150%;
    font-weight: 400;
}

/* 右側：説明文 */
.hedder-description {
    flex: 1;
    font-size: 90%;
    font-weight: 400;
}
